{% extends "base_generic.html" %}

{% block content %}
<h1>Book List</h1>
{% if booklist %}
{% if user.is_staff %}
    {% if perms.catalog.can_mark_returned %}
    <a href="{% url 'book-create' %}">Create</a>
    {% endif %}
{% endif %}
<hr>
<ul>
    {% for book in booklist %}
    <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})-
        <a href="{{book.get_delete_url}}">Delete</a>-<a href="{{book.get_update_url}}">Update</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
{% block pagination %}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> 上一頁</a>
        {% endif %}
        <span class="page-current">
            頁 {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">下一頁</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}



{% endblock %}